*#
*.xlsx
*.rar
/.idea
/file
/build
/dist
/translate.egg-info
*/__pycache__
*.jpg
*.png
*.jpeg
*.pyc
*.log
**/.idea/
**/chrome_local/*
**/chrome_server/*
**/geckodriver/*
**/douyin/
**/venv/